@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: red;
  height: 100%;

  h1 {
    font-size: 5em;
    text-align: center;
  }
  .skill .skill-icons {
    margin: 0 25%;
  }
  @media screen and (max-width: $fullWidth) {
    .portfolio .olimp span {
      font-size: 40px;
    }
    .portfolio .olimp .description .tehnologie-wrapper {
      height: 500px;
      width: 500px;
    }
    .portfolio .olimp .description .text-description {
      width: 500px;
      height: 500px;
      font-size: 30px;
    }
    .portfolio .olimp .description button.check-td i, .portfolio .olimp .description button.check-tw i {
      font-size: 80px;
    }
    .portfolio .olimp a {
      font-size: 35px;
    }
  }
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
    h1 {
      font-size: 3.8rem;
    }
    .portfolio .olimp span {
      font-size: 25px;
    }
    .portfolio .olimp .description .tehnologie-wrapper {
      height: 300px;
      width: 300px;
    }
    .portfolio .olimp .description .text-description {
      width: 300px;
      height: 300px;
      font-size: 20px;
    }
    .portfolio .olimp .description button.check-td i, .portfolio .olimp .description button.check-tw i {
      font-size: 50px;
    }
    .portfolio .olimp a {
      font-size: 25px;
    }
    .skill .skill-icons {
      margin: 0 20%;
    }
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
    h1 {
      font-size: 3.2rem;
    }
    .skill .skill-icons {
      margin: 0 10%;
    }
  }
  @media screen and (max-width: $phoneWidth) {
    .skill .skill-icons {
      margin: 0 5%;
    }
    font-size: 14px;
  }
}

.hooper-pagination.is-vertical .hooper-indicators {
  align-items: center;
}

.hooper-indicator {
  border-radius: 50% !important;
  width: 4px !important;
  height: 4px !important;
}

.hooper-indicator:hover, .hooper-indicator.is-active {
  background-color: $primary-color !important;
  width: 12px !important;
  height: 12px !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: $phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: $smPhoneWidth;
  }
}


// Modules
// @import "modules/my-module.scss";
