<template lang="pug">
  .contact
    .container
      h1 Contact me
      span not finished template


</template>

<script>
    export default {
        name: "Contact"
    }
</script>

<style lang="scss" scoped>
  .contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
    padding: 160px 0 10em;
    overflow: hidden;

    h1 {
      font-family: 'Constantia';
      color: #87ceeb;
      text-shadow: 0 0 10px #87ceeb,0 0 15px #87ceeb;
    }
  }
</style>