<template lang="pug">
  .portfolio
    hooper(:vertical='true', style='height: 100vh',
      :items-to-show='1' :center-mode='true'
      :mouse-drag="false" :transition="700")
      slide
        .olimp
          h1  Olimp-video
          span CCTV installation
          div.description
            transition(name="fade")
              .tehnologie-wrapper(v-if='show')
              .text-description(v-else="show") I was engaged in the development and joint leadership of the application. I used VueJs to create separate components. I did full coverage tests and developed the infrastructure.
            transition(name="fade" mode="out-in")
              button.check-tw(v-if="!show" @click="show = !show" key="close")
                i.material-icons cancel
              button.check-td(v-else="" @click="show = !show" key="check")
                i.material-icons arrow_drop_down_circle
            a.btn-check(href="https://roma-vueapp.web.app/" target="_blank" ) CHECK IT
      slide
        | slide 2
      slide
        | slide 3
      slide
        | slide 4
      slide
        | slide 5
      slide
        | slide 6
      hooper-pagination(slot='hooper-addons')
</template>

<script>
    import {Hooper, Slide, Pagination as HooperPagination} from 'hooper';
    import 'hooper/dist/hooper.css';

    export default {
        name: "Portfolio",
        data() {
            return {
                show: true
            }
        },
        components: {
            Hooper,
            Slide,
            HooperPagination
        }
    }
</script>

<style lang="scss" scoped>
  @import "../assets/scss/utils/vars";

  .portfolio {
    .olimp {
      color: $success-color;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100vh;
      overflow: hidden;

      h1 {
        color: $success-color;
        font-weight: 700;
      }

      span {
        margin: 10px 0;
      }

      .description {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .tehnologie-wrapper {
          background-image: url(../assets/img/olimp.png);
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: contain;
        }

        .text-description {
          display: flex;
          align-items: center;
          color: $success-color;
        }

        button.check-td, button.check-tw {
          color: $success-color;
          background: none;

        }

        .fade-enter-active,
        .fade-leave-active {
          transition: opacity .1s ease;
        }

        .fade-enter,
        .fade-leave-to {
          opacity: 0;
        }
      }
        a {
          margin: 1rem;
          color: $success-color;
        }
    }
  }
</style>