<template lang="pug">
  .skill
    .skill-icons
      div
        img(src="../assets/img/vue.png")
      div
        img(src="../assets/img/vuex.png")
      div
        img(src="../assets/img/nuxt.png")
      div
        img(src="../assets/img/webpack.png")
      div
        img(src="../assets/img/sass.png")
      div
        img(src="../assets/img/npm.png")
      div
        img(src="../assets/img/js1.png")
      div
        img(src="../assets/img/less.png")
      div
        img(src="../assets/img/html2.png")
      div
        img(src="../assets/img/git.png")
      div
        img(src="../assets/img/css2.png")
      div
        img(src="../assets/img/bootstrap1.png")

</template>

<script>
    export default {
        name: "Skills",
        data() {
            return {}
        }
    }
</script>

<style lang="scss" scoped>
  .skill {
    display: flex;
    align-items: center;
    background: #161517;
    height: 100vh;
    overflow: hidden;

    .skill-icons {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      div {
        margin: 1rem;
        flex: 20%;
      }
    }
  }
</style>