// Font
$mainFont                : 'Aharoni', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 18px;
$mainFontWeight          : 700;
$mainLineHeight          : 1.4;

$fullWidth               : 3840px;
$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #cecece;
$primary-color           : #00bfff;
$success-color           : #41b883;
$danger-color            : #ED2025;
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #555968;
$neutral-secondary       : #b2b5be;
$neutral-placeholder     : #dbdfe7;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;
