<template lang="pug">
  div
    nav
      transition(name="zoom")
        button.menu(v-if='!show' @click='show = !show' key='menu')
          span menu
        button.clear(v-else='' @click='show = !show' key='clear')
      .theme-dark(v-if="show" @click="show = false")
      transition(name='fade')
        ul(v-if="show")
          router-link(v-for='link in links' :exact='link.exact' :key='link.url' tag='li' :to='link.url'
            active-class='active')
            a(href='#' @click="show = false")
              i.material-icons {{ link.icon }}
              span {{ link.title }}
</template>

<script>
    export default {
        name: "Navbar",
        data() {
            return {
                show: false,
                links: [
                    {title: 'Home', url: '/', active: 'link-active', icon: 'home', exact: 'exact'},
                    {title: 'Portfolio', url: '/portfolio', icon: 'emoji_events'},
                    {title: 'Skills', url: '/skills', icon: 'layers'},
                    {title: 'Contact me', url: '/contact', icon: 'message'}
                ]
            }
        }
    }
</script>

<style lang="scss" scoped>
  @import "../assets/scss/utils/vars";

  nav {
    height: 100%;

    .theme-dark {
      opacity: 0.8;
      background-color: rgb(11, 11, 11);
      border-color: rgb(18, 18, 18);
      border-radius: inherit;
      bottom: 0;
      height: 100%;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 6;
    }

    ul {
      position: absolute;
      display: flex;
      flex-direction: column;
      text-align: center;
      height: 80vh;
      margin: 10vh 0 5vh 0;
      width: 180px;
      top: 0;
      left: 0;
      z-index: 101;
      border-right: 2.5px solid #5f656f;

      li {
        margin: .7rem 0;

        a {
          display: flex;
          flex-direction: column;
          color: $primary-color;
          font-size: .9rem;

          i {
            color: #5f656f;
            font-size: 50px;
          }
        }

        &.active {
          i {
            color: $primary-color;
          }
        }

        &:hover {
          i {
            color: $primary-color;
            transition: .3s;
          }
        }
      }
    }

    .menu,
    .clear {
      background: transparent;
      border: none;
      width: 30px;
      height: 24px;
      padding: 0;
      outline: none;
      position: absolute;
      top: 2rem;
      left: 2rem;
      z-index: 199;
      cursor: pointer;
      pointer-events: visiblePainted;

      span {
        background: #5f656f;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        overflow: hidden;
        text-indent: 200%;
        transition: opacity .25s;
      }

      &:before, &:after {
        content: "";
        background: #5f656f;
        position: absolute;
        height: 2px;
        width: 100%;
        left: 0;
        top: 50%;
        transform-origin: 50% 50%;
        transition: transform .25s;
      }

      &:before {
        transform: translate3d(0, -10px, 0);
      }

      &:after {
        transform: translate3d(0, 10px, 0);
      }
    }

    .clear {
      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }

      span {
        background: #5f656f;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        overflow: hidden;
        text-indent: 200%;
        transition: opacity .25s;
      }
    }

    .fade-enter-active,
    .fade-leave-active {
      transition: .8s;
      transform: translate(0);
    }

    .fade-enter,
    .fade-leave-to {
      transform: translate(-100%);
    }
    .zoom-enter-active,
    .zoom-leave-active {
      transition: opacity .3s ease;
    }

    .zoom-enter,
    .zoom-leave-to {
      opacity: 0;
    }
  }
</style>