<template lang="pug">
  #app
    Navbar
    vue-page-transition(name="overlay-down")
      router-view

</template>

<script>
    import Navbar from "./components/Navbar";

    export default {
        name: "App",
        components: {
            Navbar
        }
    }
</script>

<style lang="scss" scoped>

  #app {
    background: #0e0d10;

  }
</style>
